body {
    background-color: #FFF;
    margin: 0px;
    font-family: Raleway;
    font-weight: 300;
}

/* Header Div Stuff */

.heady {
    background-color: #FFF;
    margin: 15px 0px 15px 0px;
    height: 9vw;
    font-family: Arial;
    font-weight: 700;
    display: flex;
    flex-direction: row;
}

.heady a {
    text-decoration: none;
    color: #000;
}

.heady a:hover {
    text-decoration: none;
    color: #333;
}

.headylogo {
    width: 20vw;
    margin: 0px 10vw 0px 10vw;
    object-fit: fill;
}

.headylogo img {
    width: 100%;
    height: 100%;
}

.headyfind {
    flex: 1;
    padding: 3vw 0px 0px 0px;
}

.headytag {
    font-size: 1.5vw;
}

.headyinsta {
    width: 3vw;
    margin-right: 10vw;
    padding: 2.5vw 0px 0px 0px;
    object-fit: fill;
}

.headyinsta img {
    width: 3vw;
    height: 3vw;
}

/* Body Div Stuff */

.bodypot {
    margin: 0px 11vw 10vw 11vw;
}

.bodypot a {
    text-decoration: none;
    color: #000;
}

.italian {
    font-style: italic;
}

.avenirl {
    font-family: Raleway;
    font-weight: 300;
    font-size: 1.5vw;
}

/* For Home Page */

.homeimg {
    object-fit: fill;
}

.homeimg img {
    width: 100%;
    height: 100%;
}

.subtitle {
    margin: 0px;
    font-size: 1.5vw;
}

/* For About Page */

.flexyb {
    display: flex;
    flex-direction: row;
}

.abfill {
    flex: 1;
    height: 60vh;
}

.imging {
    width: 80%;
    margin-left: 10vw;
    margin-top: 10vh;
}

.imging img {
    width: 100%;
    height: 100%;
}